.subpic { display: inline-block; background: url('../img/subs30x30.png') no-repeat; overflow: hidden; width: 30px; height: 30px; }

.any-sub { background-position: -30px -0px; }
.burst-bomb { background-position: -60px -0px; }
.disruptor { background-position: -0px -30px; }
.ink-mine { background-position: -30px -30px; }
.point-sensor { background-position: -60px -30px; }
.seeker { background-position: -0px -60px; }
.splash-wall { background-position: -30px -60px; }
.splat-bomb { background-position: -60px -60px; }
.sprinkler { background-position: -0px -90px; }
.squid-beakon { background-position: -30px -90px; }
.suction-bomb { background-position: -60px -90px; }

.specialpic { display: inline-block; background: url('../img/specials30x30.png') no-repeat; overflow: hidden; width: 30px; height: 30px; }

.any-special { background-position: -30px -0px; }
.bubbler { background-position: -60px -0px; }
.burst-bomb-rush { background-position: -0px -30px; }
.echolocator { background-position: -30px -30px; }
.inkstrike { background-position: -60px -30px; }
.inkzooka { background-position: -0px -60px; }
.killer-wail { background-position: -30px -60px; }
.kraken { background-position: -60px -60px; }
.seeker-bomb-rush { background-position: -0px -90px; }
.splat-bomb-rush { background-position: -30px -90px; }
.suction-bomb-rush { background-position: -60px -90px; }

.weaponpic { display: inline-block; background: url('../img/weapons64x64.png') no-repeat; overflow: hidden; width: 64px; height: 64px; }

.any-weapon { background-position: -64px -0px; }
.wst-bigball-diffusion00 { background-position: -128px -0px; }
.wst-bigball-diffusion01 { background-position: -192px -0px; }
.wst-bigball-launcher00 { background-position: -256px -0px; }
.wst-bigball-launcher01 { background-position: -320px -0px; }
.wst-bigball-strong00 { background-position: -384px -0px; }
.wst-bigball-strong01 { background-position: -448px -0px; }
.wst-charge-light00 { background-position: -512px -0px; }
.wst-charge-light01 { background-position: -0px -64px; }
.wst-charge-long00 { background-position: -64px -64px; }
.wst-charge-long01 { background-position: -128px -64px; }
.wst-charge-longscp00 { background-position: -192px -64px; }
.wst-charge-longscp01 { background-position: -256px -64px; }
.wst-charge-normal00 { background-position: -320px -64px; }
.wst-charge-normal01 { background-position: -384px -64px; }
.wst-charge-normalh { background-position: -448px -64px; }
.wst-charge-normalscp00 { background-position: -512px -64px; }
.wst-charge-normalscp01 { background-position: -0px -128px; }
.wst-charge-quick00 { background-position: -64px -128px; }
.wst-charge-quick01 { background-position: -128px -128px; }
.wst-gatling-hyper00 { background-position: -192px -128px; }
.wst-gatling-hyper01 { background-position: -256px -128px; }
.wst-gatling-quick00 { background-position: -320px -128px; }
.wst-gatling-quick01 { background-position: -384px -128px; }
.wst-gatling-standard00 { background-position: -448px -128px; }
.wst-gatling-standard01 { background-position: -512px -128px; }
.wst-roller-brushmini00 { background-position: -0px -192px; }
.wst-roller-brushmini01 { background-position: -64px -192px; }
.wst-roller-brushnormal00 { background-position: -128px -192px; }
.wst-roller-brushnormal01 { background-position: -192px -192px; }
.wst-roller-compact00 { background-position: -256px -192px; }
.wst-roller-compact01 { background-position: -320px -192px; }
.wst-roller-heavy00 { background-position: -384px -192px; }
.wst-roller-heavy01 { background-position: -448px -192px; }
.wst-roller-normal00 { background-position: -512px -192px; }
.wst-roller-normal01 { background-position: -0px -256px; }
.wst-roller-normalh { background-position: -64px -256px; }
.wst-shot-blaze00 { background-position: -128px -256px; }
.wst-shot-blaze01 { background-position: -192px -256px; }
.wst-shot-expert00 { background-position: -256px -256px; }
.wst-shot-expert01 { background-position: -320px -256px; }
.wst-shot-explight00 { background-position: -384px -256px; }
.wst-shot-explight01 { background-position: -448px -256px; }
.wst-shot-explightlong00 { background-position: -512px -256px; }
.wst-shot-explightlong01 { background-position: -0px -320px; }
.wst-shot-explong00 { background-position: -64px -320px; }
.wst-shot-explong01 { background-position: -128px -320px; }
.wst-shot-expmiddle00 { background-position: -192px -320px; }
.wst-shot-expmiddle01 { background-position: -256px -320px; }
.wst-shot-expshort00 { background-position: -320px -320px; }
.wst-shot-expshort01 { background-position: -384px -320px; }
.wst-shot-first00 { background-position: -448px -320px; }
.wst-shot-first01 { background-position: -512px -320px; }
.wst-shot-gravity00 { background-position: -0px -384px; }
.wst-shot-gravity01 { background-position: -64px -384px; }
.wst-shot-heavy00 { background-position: -128px -384px; }
.wst-shot-heavy01 { background-position: -192px -384px; }
.wst-shot-long00 { background-position: -256px -384px; }
.wst-shot-long01 { background-position: -320px -384px; }
.wst-shot-normal00 { background-position: -384px -384px; }
.wst-shot-normal01 { background-position: -448px -384px; }
.wst-shot-normalh { background-position: -512px -384px; }
.wst-shot-normaloct { background-position: -0px -448px; }
.wst-shot-precision00 { background-position: -64px -448px; }
.wst-shot-precision01 { background-position: -128px -448px; }
.wst-shot-quicklong00 { background-position: -192px -448px; }
.wst-shot-quicklong01 { background-position: -256px -448px; }
.wst-shot-quickmiddle00 { background-position: -320px -448px; }
.wst-shot-quickmiddle01 { background-position: -384px -448px; }
.wst-shot-short00 { background-position: -448px -448px; }
.wst-shot-short01 { background-position: -512px -448px; }
.wst-shot-triplemiddle00 { background-position: -0px -512px; }
.wst-shot-triplemiddle01 { background-position: -64px -512px; }
.wst-shot-triplequick00 { background-position: -128px -512px; }
.wst-shot-triplequick01 { background-position: -192px -512px; }
.sheldon001 { background-position: -256px -512px; }
.sheldon002 { background-position: -320px -512px; }
.sheldon003 { background-position: -384px -512px; }
.sheldon004 { background-position: -448px -512px; }
.sheldon005 { background-position: -512px -512px; }
.sheldon006 { background-position: -0px -576px; }
.sheldon007 { background-position: -64px -576px; }
.sheldon008 { background-position: -128px -576px; }
.sheldon009 { background-position: -192px -576px; }
.sheldon010 { background-position: -256px -576px; }
.sheldon011 { background-position: -320px -576px; }
.sheldon012 { background-position: -384px -576px; }
.sheldon013 { background-position: -448px -576px; }
.sheldon014 { background-position: -512px -576px; }
.sheldon015 { background-position: -0px -640px; }
.sheldon016 { background-position: -64px -640px; }
.sheldon017 { background-position: -128px -640px; }