.subpic { display: inline-block; background: url('../img/subs30x30.png') no-repeat; overflow: hidden; width: 30px; height: 30px; }

.any-sub { background-position: -30px -0px; }
.autobomb { background-position: -60px -0px; }
.burst-bomb { background-position: -0px -30px; }
.curling-bomb { background-position: -30px -30px; }
.ink-mine { background-position: -60px -30px; }
.point-sensor { background-position: -0px -60px; }
.splash-wall { background-position: -30px -60px; }
.splat-bomb { background-position: -60px -60px; }
.sprinkler { background-position: -0px -90px; }
.squid-beakon { background-position: -30px -90px; }
.suction-bomb { background-position: -60px -90px; }
.toxic-mist { background-position: -0px -120px; }
.fizzy-bomb { background-position: -30px -120px; }
.torpedo { background-position: -60px -120px; }

.specialpic { display: inline-block; background: url('../img/specials30x30.png') no-repeat; overflow: hidden; width: 30px; height: 30px; }

.any-special { background-position: -30px -0px; }
.autobomb-launcher { background-position: -60px -0px; }
.baller { background-position: -0px -30px; }
.bubble-blower { background-position: -30px -30px; }
.burst-bomb-launcher { background-position: -60px -30px; }
.curling-bomb-launcher { background-position: -0px -60px; }
.ink-armor { background-position: -30px -60px; }
.ink-storm { background-position: -60px -60px; }
.inkjet { background-position: -0px -90px; }
.splashdown { background-position: -30px -90px; }
.splat-bomb-launcher { background-position: -60px -90px; }
.sting-ray { background-position: -0px -120px; }
.suction-bomb-launcher { background-position: -30px -120px; }
.tenta-missiles { background-position: -60px -120px; }
.booyah-bomb { background-position: -0px -150px; }
.ultra-stamp { background-position: -30px -150px; }

/* the CSS Sprite Generator didn't put the nopic image at the start for some reason, so the default position shouldn't be 0,0 */
.weaponpic { display: inline-block; background: url('../img/weapons64x64.png') no-repeat; background-position: -512px -576px; overflow: hidden; width: 64px; height: 64px; }

.any-weapon { background-position: -576px -576px; }
.wst-charger-keeper-00 { background-position: -0px -0px; }
.wst-charger-keeper-01 { background-position: -64px -0px; }
.wst-charger-light-00 { background-position: -128px -0px; }
.wst-charger-light-01 { background-position: -192px -0px; }
.wst-charger-longscope-00 { background-position: -256px -0px; }
.wst-charger-longscope-01 { background-position: -320px -0px; }
.wst-charger-long-00 { background-position: -384px -0px; }
.wst-charger-long-01 { background-position: -448px -0px; }
.wst-charger-normalscope-00 { background-position: -512px -0px; }
.wst-charger-normalscope-01 { background-position: -576px -0px; }
.wst-charger-normal-00 { background-position: -0px -64px; }
.wst-charger-normal-01 { background-position: -64px -64px; }
.wst-charger-normal-h { background-position: -128px -64px; }
.wst-charger-quick-00 { background-position: -192px -64px; }
.wst-charger-quick-01 { background-position: -256px -64px; }
.wst-roller-brushmini-00 { background-position: -320px -64px; }
.wst-roller-brushmini-01 { background-position: -384px -64px; }
.wst-roller-brushnormal-00 { background-position: -448px -64px; }
.wst-roller-brushnormal-01 { background-position: -512px -64px; }
.wst-roller-brushnormal-h { background-position: -576px -64px; }
.wst-roller-compact-00 { background-position: -0px -128px; }
.wst-roller-compact-01 { background-position: -64px -128px; }
.wst-roller-heavy-00 { background-position: -128px -128px; }
.wst-roller-heavy-01 { background-position: -192px -128px; }
.wst-roller-hunter-00 { background-position: -256px -128px; }
.wst-roller-hunter-01 { background-position: -320px -128px; }
.wst-roller-normal-00 { background-position: -384px -128px; }
.wst-roller-normal-01 { background-position: -448px -128px; }
.wst-roller-normal-h { background-position: -512px -128px; }
.wst-shooter-blasterlightlong-00 { background-position: -576px -128px; }
.wst-shooter-blasterlightlong-01 { background-position: -0px -192px; }
.wst-shooter-blasterlightshort-00 { background-position: -64px -192px; }
.wst-shooter-blasterlightshort-01 { background-position: -128px -192px; }
.wst-shooter-blasterlight-00 { background-position: -192px -192px; }
.wst-shooter-blasterlight-01 { background-position: -256px -192px; }
.wst-shooter-blasterlong-00 { background-position: -320px -192px; }
.wst-shooter-blasterlong-01 { background-position: -384px -192px; }
.wst-shooter-blastermiddle-00 { background-position: -448px -192px; }
.wst-shooter-blastermiddle-01 { background-position: -512px -192px; }
.wst-shooter-blastermiddle-h { background-position: -576px -192px; }
.wst-shooter-blastershort-00 { background-position: -0px -256px; }
.wst-shooter-blastershort-01 { background-position: -64px -256px; }
.wst-shooter-blaze-00 { background-position: -128px -256px; }
.wst-shooter-blaze-01 { background-position: -192px -256px; }
.wst-shooter-expert-00 { background-position: -256px -256px; }
.wst-shooter-expert-01 { background-position: -320px -256px; }
.wst-shooter-first-00 { background-position: -384px -256px; }
.wst-shooter-first-01 { background-position: -448px -256px; }
.wst-shooter-flash-00 { background-position: -512px -256px; }
.wst-shooter-flash-01 { background-position: -576px -256px; }
.wst-shooter-gravity-00 { background-position: -0px -320px; }
.wst-shooter-gravity-01 { background-position: -64px -320px; }
.wst-shooter-heavy-00 { background-position: -128px -320px; }
.wst-shooter-heavy-01 { background-position: -192px -320px; }
.wst-shooter-long-00 { background-position: -256px -320px; }
.wst-shooter-long-01 { background-position: -320px -320px; }
.wst-shooter-normal-00 { background-position: -384px -320px; }
.wst-shooter-normal-01 { background-position: -448px -320px; }
.wst-shooter-normal-h { background-position: -512px -320px; }
.wst-shooter-precision-00 { background-position: -576px -320px; }
.wst-shooter-precision-01 { background-position: -0px -384px; }
.wst-shooter-quickmiddle-00 { background-position: -64px -384px; }
.wst-shooter-quickmiddle-01 { background-position: -128px -384px; }
.wst-shooter-short-00 { background-position: -192px -384px; }
.wst-shooter-short-01 { background-position: -256px -384px; }
.wst-shooter-triplemiddle-00 { background-position: -320px -384px; }
.wst-shooter-triplemiddle-01 { background-position: -384px -384px; }
.wst-shooter-triplequick-00 { background-position: -448px -384px; }
.wst-shooter-triplequick-01 { background-position: -512px -384px; }
.wst-slosher-diffusion-00 { background-position: -576px -384px; }
.wst-slosher-diffusion-01 { background-position: -0px -448px; }
.wst-slosher-launcher-00 { background-position: -64px -448px; }
.wst-slosher-launcher-01 { background-position: -128px -448px; }
.wst-slosher-strong-00 { background-position: -192px -448px; }
.wst-slosher-strong-01 { background-position: -256px -448px; }
.wst-slosher-strong-h { background-position: -320px -448px; }
.wst-spinner-hyper-00 { background-position: -384px -448px; }
.wst-spinner-hyper-01 { background-position: -448px -448px; }
.wst-spinner-quick-00 { background-position: -512px -448px; }
.wst-spinner-quick-01 { background-position: -576px -448px; }
.wst-spinner-standard-00 { background-position: -0px -512px; }
.wst-spinner-standard-01 { background-position: -64px -512px; }
.wst-spinner-standard-h { background-position: -128px -512px; }
.wst-twins-dual-00 { background-position: -192px -512px; }
.wst-twins-dual-01 { background-position: -256px -512px; }
.wst-twins-gallon-00 { background-position: -320px -512px; }
.wst-twins-gallon-01 { background-position: -384px -512px; }
.wst-twins-normal-00 { background-position: -448px -512px; }
.wst-twins-normal-01 { background-position: -512px -512px; }
.wst-twins-normal-h { background-position: -576px -512px; }
.wst-twins-short-00 { background-position: -0px -576px; }
.wst-twins-short-01 { background-position: -64px -576px; }
.wst-twins-stepper-00 { background-position: -128px -576px; }
.wst-twins-stepper-01 { background-position: -192px -576px; }
.wst-umbrella-normal-00 { background-position: -256px -576px; }
.wst-umbrella-normal-01 { background-position: -320px -576px; }
.wst-umbrella-normal-h { background-position: -384px -576px; }
.wst-umbrella-wide-00 { background-position: -448px -576px; }
.wst-umbrella-compact-00 { background-position: -0px -640px; }
.wst-umbrella-wide-01 { background-position: -64px -640px; }
.wst-umbrella-compact-01 { background-position: -128px -640px; }
.wst-slosher-washtub-00 { background-position: -192px -640px; }
.wst-spinner-downpour-00 { background-position: -256px -640px; }
.wst-shooter-normaloct { background-position: -320px -640px; }
.wst-slosher-bathtub-00 { background-position: -384px -640px; }
.wst-spinner-serein-00 { background-position: -448px -640px; }
.wst-shooter-normal-02 { background-position: -512px -640px; }
.wst-roller-normal-02 { background-position: -576px -640px; }
.wst-charger-normal-02 { background-position: -0px -704px; }
.wst-charger-normalscope-02 { background-position: -64px -704px; }
.wst-twins-normal-02 { background-position: -128px -704px; }
.wst-slosher-launcher-02 { background-position: -192px -704px; }
.wst-shooter-expert-02 { background-position: -256px -704px; }
.wst-shooter-blastershort-02 { background-position: -320px -704px; }
.wst-roller-heavy-02 { background-position: -384px -704px; }
.wst-shooter-first-02 { background-position: -448px -704px; }
.wst-roller-brushnormal-02 { background-position: -512px -704px; }
.wst-umbrella-compact-02 { background-position: -576px -704px; }
.wst-shooter-triplequick-02 { background-position: -0px -768px; }
.wst-slosher-bathtub-01 { background-position: -64px -768px; }
.wst-shooter-blasterlight-02 { background-position: -128px -768px; }
.wst-slosher-washtub-01 { background-position: -192px -768px; }
.wst-shooter-gravity-02 { background-position: -256px -768px; }
.wst-twins-gallon-02 { background-position: -320px -768px; }
.wst-spinner-downpour-01 { background-position: -384px -768px; }
.wst-spinner-quick-02 { background-position: -448px -768px; }
.wst-spinner-serein-01 { background-position: -512px -768px; }
.wst-shooter-short-02 { background-position: -576px -768px; }
.wst-shooter-blaze-02 { background-position: -0px -832px; }
.wst-shooter-quickmiddle-02 { background-position: -64px -832px; }
.wst-shooter-blasterlong-02 { background-position: -128px -832px; }
.wst-shooter-triplemiddle-02 { background-position: -192px -832px; }
.wst-roller-brushmini-02 { background-position: -256px -832px; }
.wst-charger-quick-02 { background-position: -320px -832px; }
.wst-charger-light-02 { background-position: -384px -832px; }
.wst-slosher-strong-02 { background-position: -448px -832px; }
.wst-spinner-standard-02 { background-position: -512px -832px; }
.wst-twins-short-02 { background-position: -576px -832px; }
.wst-umbrella-wide-02 { background-position: -0px -896px; }